body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: 'Verdana';;
    background-color: #f8f9fa;
    background-image: 
  linear-gradient(rgba(20, 30, 40, 0.26), rgba(20, 30, 40, 0.85)),
    url('https://images.unsplash.com/photo-1501973801540-537f08ccae7b?ixlib=rb-4.0.3&auto=format&fit=crop&w=1600&q=80');
  background-size: cover;
  background-position: center;
}
h5 {
    text-align: center;
    margin-top: 50px;
    color: #ffffff;
}
form {
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 13px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;

}
label {
    display: inline;
    margin-bottom: 10px;
    font-weight: 600;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 17px;
    font-size: 16px;
    background-color: #ffffffcb;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #131618;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #2d3033;
    transform: scale(1.01);
}
a {
    align-self: flex-end;
    margin-top: 15px;
    color: #141516;
    text-decoration: none;
    justify-content: space-between;
}

a:hover {
    text-decoration: underline;
    
}
p {
    font-size: 16px;
    color: #333;
    text-align: left;
}
.login-extra {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: -10px;
    margin-bottom: 20px;
}

.remember-me {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0; 
}

.register-link {
    margin: 0; 
    text-decoration: none;
    color: #141516;
}

.register-link:hover {
    text-decoration: underline;
}
.login-container {
    display: flex;
    justify-content: flex-end;
}

.login-link {
    align-self: flex-end;
    margin-top: 0;
}

