body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: 'Verdana';;
    background-color: #f8f9fa;
    background-image: 
  linear-gradient(rgba(20, 30, 40, 0.26), rgba(20, 30, 40, 0.85)),
    url('https://images.unsplash.com/photo-1501973801540-537f08ccae7b?ixlib=rb-4.0.3&auto=format&fit=crop&w=1600&q=80');
  background-size: cover;
  background-position: center;
}
h3 {
    text-align: left;
    margin-top: 50px;
}
h3 {
    text-align: center;
}
p {
    font-size: 16px;
    color: #333;
    text-align: left;
}



/*----------LOMAKE----------*/
form {
    background: linear-gradient(
        rgba(245, 100, 68, 0.60), 
        rgba(255, 195, 113, 0.60) 
        );
        max-width: 700px;
        min-height: 500px;
        margin: 50px auto;
        padding: 50px;
        border-radius: 13px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.822);
        width: 100%;
        height: 100%;
    }
    label {
        display: inline;
        margin-bottom: 10px;
        font-weight: 600;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 100%;
        padding: 12.5px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 17px;
        font-size: 16px;
        background-color: #f1f1f1ad;
    }
    input[type="checkbox"] {
        width: auto;
        padding: 0;
        margin: 0;
        border: none;
        border-radius: 0;
        background-color: transparent;
        cursor: pointer;
    }
    


    /*----------PAINIKE----------*/
    button {
        width: 100%;
        padding: 10px;
        background-color: #131618c0;
        border: none;
        border-radius: 8px;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }
    button:hover {
        background-color: #2d3033;
        transform: scale(1.01);
    }
    
    
    
    /*----------LINKKI----------*/
    a {
        align-self: flex-end;
        margin-top: 15px;
        color: #141516;
        text-decoration: none;
        justify-content: space-between;
    }
    a:hover {
        text-decoration: underline;
        
    }
    
    
    
    /*----------KIRJAUTUMISSIVU----------*/
    .login-extra {
        display: flex;
        justify-content: space-between;
        align-items: center; 
        margin-top: -10px;
        margin-bottom: 20px;
    }
    .login-container {
    display: flex;
    justify-content: flex-end;
}
.login-link {
    align-self: flex-end;
    margin-top: 0;
}
.remember-me {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0; 
    cursor: pointer;
}



/*----------REKISTERÖITYMISSIVU----------*/
.register-link {
    margin: 0; 
    text-decoration: none;
    color: #141516;
}
.register-link:hover {
    text-decoration: underline;
}



/*----------HEADER JA FOOTER----------*/
.header,.footer{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.61);
    width: 100%;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}
.header{
    
    top: 0;
    margin-bottom: 100px;
    justify-content: space-between;
}
.footer{
    bottom: 0;
    margin-top: 100px;
    justify-content: center;
}
.logo{
    max-width: 75px;
    padding-inline: 15px;
}
.header-btn{
    margin-top: 0;
    margin-inline: 15px;
    padding: 10px;
    background-color: #131618;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}




/*----------SÄÄSEURANTA----------*/
.container2 {
    background: rgba(255, 255, 255, 0.541);
    padding: 50px;
    border-radius: 10px;
    max-width: 50%;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.822);
    text-align: center;
    margin: 50px auto  ;
}
.weather {
    background: linear-gradient(to left, #f7cac9, #92a8d1);
    padding: 20px;
    border-radius: 10px;
    max-width: none;
    height:20vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.822);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.weather-info1 {
    flex: 1;
    border-radius: 10px;
    padding: 20px;
    max-width: 22%;
    background: linear-gradient(to left, #b7c8df, #578fd8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.822);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.weather-info2 {
    flex: 1;
    border-radius: 10px;
    padding: 20px;
    max-width: 22%;
    background: linear-gradient(to left, #dffff4, #81ebc6);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.822);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.weather-info3 {
    flex: 1;
    border-radius: 10px;
    padding: 20px;
    max-width: 22%;
    background: linear-gradient(to left, #e6e6e6, #7e7d7d);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.822);
    height: 10vh;
     display: flex;
     justify-content: center;
    align-items: center;
}
.rivitin{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: nowrap;
}
.weather-icon{
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
}
.weather-icon2{
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}


@media (max-width: 768px) {
    .container2 {
        padding: 30px;
        margin: 20px;
        padding-inline: 0;
    }
    .rivitin {
        flex-wrap: nowrap;
        justify-content: center; 
    }
    .weather-info1 {
        flex: 0 0 10%;
        max-width: 100%;
        gap: 5px;
    }
     .weather-info2 {
        flex: 0 0 10%;
        max-width: 100%;
        gap: 5px;
    }
     .weather-info3 {
        flex: 0 0 10%;
        max-width: 100%;
        gap: 5px;
    }
    .weather{
        justify-self: center;
        width: 200px;
    }
    .weather-icon{
    max-width: 20px;
    max-height: 20px;
}
}

@media(max-width: 450px){
    .header-username{
        display: none;
    }
}