body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: 'Verdana';;
    background-color: #f8f9fa;
    background-image: 
  linear-gradient(rgba(20, 30, 40, 0.26), rgba(20, 30, 40, 0.85)),
    url('https://cdn.pixabay.com/photo/2021/01/22/17/53/house-5940719_1280.jpg');
  background-size: cover;
  background-position: center;
}
h3 {
    text-align: left;
    margin-top: 50px;
}
p {
    font-size: 16px;
    color: #333;
}
h1{
    font-size: 32px;
}


/*----------LOMAKE----------*/
form {
    background: linear-gradient(
        rgba(50, 111, 245, 0.6), 
        rgba(154, 177, 187, 0.6) 
        );
        max-width: 700px;
        min-height: 500px;
        margin: 50px auto;
        padding: 50px;
        border-radius: 13px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.822);
        width: 100%;
        height: 100%;
    }
    label {
        display: inline;
        margin-bottom: 10px;
        font-weight: 600;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 100%;
        padding: 12.5px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 17px;
        font-size: 16px;
        background-color: #f1f1f1ad;
    }
    input[type="checkbox"] {
        width: auto;
        padding: 0;
        margin: 0;
        border: none;
        border-radius: 0;
        background-color: transparent;
        cursor: pointer;
    }
    


    /*----------PAINIKE----------*/
    button {
        width: 100%;
        padding: 10px;
        background-color: #131618c0;
        border: none;
        border-radius: 8px;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }
    button:hover {
        background-color: #2d3033;
        transform: scale(1.01);
    }
    
    
    
    /*----------LINKKI----------*/
    a {
        align-self: flex-end;
        margin-top: 15px;
        color: #141516;
        text-decoration: none;
        justify-content: space-between;
    }
    a:hover {
        text-decoration: underline;
        
    }
    
    
    
    /*----------KIRJAUTUMISSIVU----------*/
    .login-extra {
        display: flex;
        justify-content: space-between;
        align-items: center; 
        margin-top: -10px;
        margin-bottom: 20px;
    }
    .login-container {
    display: flex;
    justify-content: flex-end;
}
.login-link {
    align-self: flex-end;
    margin-top: 0;
}
.remember-me {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0; 
    cursor: pointer;
}



/*----------REKISTERÖITYMISSIVU----------*/
.register-link {
    margin: 0; 
    text-decoration: none;
    color: #141516;
}
.register-link:hover {
    text-decoration: underline;
}



/*----------HEADER JA FOOTER----------*/
.header,.footer{
    position: absolute;
    background: rgba(255, 255, 255, 0.274);
    width: 100%;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}
.header{
    
    top: 0;
    margin-bottom: 100px;
    justify-content: space-between;
}
.footer{
    bottom: 0;
    margin-top: 100px;
    justify-content: center;
}
.logo{
    max-width: 75px;
    padding-inline: 15px;
}
.header-btn{
    margin-top: 0;
    margin-inline: 15px;
    padding: 10px;
    background-color: #131618;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}



/*----------SÄÄSEURANTA----------*/
.container2 {
        background: linear-gradient(to bottom right,
        rgba(50, 111, 245, 0.6), 
        rgba(154, 177, 187, 0.6) 
        );
    padding: 50px;
    border-radius: 10px;
    max-width: 50%;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.822);
    text-align: center;
    margin: 50px auto  ;
}
.weather {
    background: linear-gradient(to bottom right, #f7cac9, #92a8d1);
    padding: 20px;
    border-radius: 10px;
    max-width: none;
    height:20vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.822);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.weather-info1,.weather-info2,.weather-info3{
    flex: 1;
    border-radius: 10px;
    padding: 20px;
    max-width: 22%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.822);
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-info1 {
    background: linear-gradient(to left, #b7c8df, #578fd8);

}
.weather-info2 {
    background: linear-gradient(to left, #dffff4, #81ebc6);

}
.weather-info3 {
    background: linear-gradient(to left, #e6e6e6, #7e7d7d);

}

.rivitin{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: nowrap;
}
.weather-icon{
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
}
.weather-icon2{
    max-width: 125px;
    max-height: 125px;
    width: auto;
    height: auto;
}
.weather-icon3{
    max-width: 50px;
    max-height: 38px;
    width: auto;
    height: auto;
}
/* .container3{
    background-color: #131618;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.822);
    padding-block: 0;
} */
.scrolling-wrapper {
    background: linear-gradient(to bottom right, #f7cac9, #92a8d1);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.822);
    overflow-x: scroll;
    white-space: nowrap;

}
.card {
    display: inline-block;
    background: #ffffff;
    border-radius: 15px;
    max-width: auto;
    max-height: auto;
    width: 75px;
    height: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}
h2{
    text-align: left;
}


@media (max-width: 768px) {
    .container2 {
        padding: 50px;
        margin: 20px;
    }
    .rivitin {
        flex-wrap: nowrap;
        justify-content: center; 
        width: calc(115% + 40px);
        justify-self: center;
    }
    .weather-info1,.weather-info2,.weather-info3 {
        max-width: 100%;
        gap: 5px;
        padding-inline: 0;
    }
    .weather{
        justify-self: center;
        width: 115%;
        min-width: 150px;
    }
    .weather-icon{
    max-width: 20px;
    max-height: 20px;
    }
    .weather-icon2{
        max-width: 60px;
        max-height: 60px;
    }
    .scrolling-wrapper{
        width: 115%;
        justify-self: center;
        overflow-x: scroll;
    }
    .card{
        max-width: 65px;
        margin-inline: 5px;
    }
        p{
        font-size: 14px;
    }
}


@media(max-width: 450px){
    .header-username{
        display: none;
    }
}